Repository jellyfin/jellyfin-sdk-kotlin, pull requests merged in 2023-03, with the labels that each got.

#691 Update and specify full action versions
  .github/workflows/gradlew-validate.yaml
  .github/workflows/sdk-docs.yaml
  .github/workflows/sdk-lint.yaml
  .github/workflows/sdk-publish.yaml
  .github/workflows/sdk-test.yaml
  .github/workflows/sdk-unstable-branch.yaml
  .github/workflows/sdk-update-api-spec.yaml
Labels: enhancement, ci, github-actions

#684 Add compare command to openapi-generator
  openapi-generator/build.gradle.kts
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/Generator.kt
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/MainModule.kt
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/cli/CompareCommand.kt
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/compare/InfoComparator.kt
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/compare/ModelComparator.kt
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/compare/OperationComparator.kt
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/compare/iterableExtensions.kt
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/compare/model/CompareCollectionDiff.kt
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/compare/model/CompareModel.kt
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/compare/model/CompareModelConstant.kt
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/compare/model/CompareModelProperty.kt
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/compare/model/CompareOperation.kt
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/compare/model/CompareOperationParameter.kt
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/compare/model/CompareResult.kt
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/compare/model/CompareValueDiff.kt
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/compare/reporter/CompareReporter.kt
  openapi-generator/src/main/kotlin/org/jellyfin/openapi/compare/reporter/JsonCompareReporter.kt
Labels: enhancement, openapi-generator

#698 Downgrade AGP to IntelliJ compatible 7.4.0-beta02
  gradle/libs.versions.toml
Labels: bug, dependencies, gradle
