Repository jellyfin/jellyfin-sdk-kotlin, pull requests merged in 2025-03, with the labels that each got.

#1046 Update Node.js to 22 (LTS)
  .github/workflows/sdk-docs.yaml
Labels: github-actions, dependencies

#1047 Update Gradle configuration for javadoc tasks
  jellyfin-api-ktor/build.gradle.kts
  jellyfin-api/build.gradle.kts
  jellyfin-core/build.gradle.kts
  jellyfin-model/build.gradle.kts
Labels: enhancement, gradle

#1049 Use OkHTTP in UrlBuilder
  jellyfin-api/src/commonMain/kotlin/org/jellyfin/sdk/api/client/util/UrlBuilder.kt
  jellyfin-api/src/commonTest/kotlin/org/jellyfin/sdk/api/client/util/UrlBuilderTests.kt
Labels: enhancement

#1051 Use encodeURLPart in AuthorizationHeaderBuilder
  jellyfin-api/src/commonMain/kotlin/org/jellyfin/sdk/api/client/util/AuthorizationHeaderBuilder.kt
  jellyfin-api/src/commonMain/kotlin/org/jellyfin/sdk/api/client/util/UrlBuilder.kt
  jellyfin-api/src/commonMain/kotlin/org/jellyfin/sdk/api/client/util/url.kt
Labels: enhancement

#1058 Update JVM toolchain to 21
  .github/workflows/sdk-docs.yaml
  .github/workflows/sdk-lint.yaml
  .github/workflows/sdk-publish.yaml
  .github/workflows/sdk-test.yaml
  .github/workflows/sdk-unstable-branch.yaml
  .github/workflows/sdk-update-api-spec.yaml
  jellyfin-api-ktor/build.gradle.kts
  jellyfin-api-okhttp/build.gradle.kts
  jellyfin-api/build.gradle.kts
  jellyfin-core/build.gradle.kts
  jellyfin-model/build.gradle.kts
  testutils/build.gradle.kts
Labels: enhancement, gradle

#1059 Remove testutils module
  jellyfin-api-ktor/build.gradle.kts
  jellyfin-api-okhttp/build.gradle.kts
  jellyfin-api/build.gradle.kts
  jellyfin-core/build.gradle.kts
  jellyfin-model/build.gradle.kts
  openapi-generator/build.gradle.kts
  settings.gradle.kts
  testutils/build.gradle.kts
Labels: enhancement, gradle
